<%= form_with model: [@test, @question], local: true do |form| %>

  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= form.label :question_text %>
    <%= form.text_field :question_text, id: :question_question_text %>
  </p><br>

  <p><%= form.submit %></p>
<% end %>